<!DOCTYPE html>
<html>
<head>
	<title>Gestor de Incidencias</title>
</head>
<body>
	<h2>Incidencia a&ntilde;adida :</h2>
	<form action="/inipage" method="post">
	
	<hi> <li><b>Id:</b>                  {{results.id}}</hi><br /></li>
	<hi> <li><b>Fecha de inicio :</b>    {{results.fechaInicio}}</hi><br /></li>
	<hi> <li><b>Problema :</b>           {{results.problema}}</hi><br/></li>

	<hi> <li><b>P&uacute;blica :</b>      {{results.isFaq}}</hi><br /></li>
	<hi> <li><b>Informe :</b>      	   	  En Proceso</hi><br /></li>
	<hi> <li><b>Estado :</b>      	   	{{results.estado.estado}}</hi><br /></li>
	<hi> <li><b>Usuario :</b>      	   	{{results.usuario.nombre}} {{results.usuario.apellidos}}</hi><br /></li>

	

	<br />
	<br />
	<br />
	 <a href='/inipage'>Volver a la p&aacute;gina principal</a>
	
	
		
	
	</form>
</body>