<!DOCTYPE html>
<html>
<head>
	<title>Gestor de Incidencias</title>
</head>
<body>
	<h2>Aplicaci&oacute;n incidencias</h2>
		{{#user}}
			<h2>{{user}}</h2>
		<br />
		<a href='/nuevaincidencia'>A&ntilde;adir incidencia</a>
		<br />
		<a href='/listaincidenciasadmin'>Listado de incidencias</a>
		<br />
		{{/user}}
		{{#tech}}
			<h2>{{tech}}</h2>
		<br />
		<a href='/nuevaincidencia'>A&ntilde;adir incidencia</a>
		<br />
		<a href='/listaincidenciaspendientes'>Listado de incidencias pendientes</a>
		<br />
		<br />
		<a href='/listaincidenciastratadas'>Listado de incidencias tratadas</a>
		<br />
		{{/tech}}
		{{#admin}}
			<h2>{{admin}}</h2>
		<a href='/nuevousuario'>A&ntilde;adir usuario</a>
		<br />
		<a href='/listaincidenciasadmin'>Listado de incidencias</a>
		<br />
		<a href='/nuevaincidencia'>A&ntilde;adir incidencia</a>
		<br />
		{{/admin}}

		

		<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
</form>
</body>
</html>