<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
	<title>Gestor de Incidencias</title>
</head>
<body>
	<h2>Añada los datos de la nueva incidencia</h2>
	<form action="/guardarincidencia" method="POST">

		Incidencia: (*Ponga en el primer p&aacute;rrafo el t&iacute;tulo)<br />
		<textarea type='text' name="problema" rows="10" cols="100" ></textarea><br /><br />
		Categoria: (ahora rellena el desplegable de forma din&aacute;mica)
		<select type="text" name="categoria">
		{{#categorias}}
			<option value={{id}}>{{categoria}}</option>
		<!-- <option value="Impresora">Impresora</option>
		<option value="Red">Red</option>
		<option value="Telefonía">Telefon&iacute;a</option>-->
		{{/categorias}}
		</select> 
		<br />
		<br />
		Prioridad: (añadido)
		<select type="text" name="prioridad">
		{{#prioridades}}
			<option value={{id}}>{{prioridad}}</option>
		
		{{/prioridades}}
		</select> 
		<br />
		<br />	
	Visible en las FAQ: (¿esto no lo debería decidir el t&eacute;cnico?) 
		
  <input type="radio" name="gender" value="true" checked="checked"> SI 
  <input type="radio" name="gender" value="false"> NO<br>
  
		
		
		</select> <br />
		<br /> <input type="submit" text="" value="A&ntilde;adir" />
				<input type="hidden" name= "_csrf" value="{{token}}" /> 
	
	
	
	
	</form>
	<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
		<input type="hidden" name= "_csrf" value="{{token}}" /> 
</body>
</html>