<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
	<title>Gestor de Incidencias</title>
</head>
<body>
	<h2>Nuevo Usuario</h2>
	<form action="/grabausuario" method="POST">
		<hi>Nombre :                  </hi>
		<input type="text" name="nombre"/>
		<br />
		<hi>Apellido :                </hi>
		<input type="text" name="apellido"/>
		<br />
	    <hi>Mail :          	      </hi>
		<input type="text" name="mail"/>
		<br />
		<hi>Contraseña :              </hi>
		<input type="password" name="pass"/>
		<br />
		<!-- se concatena al campo contraseña por lo que se forma un passwrod diferente al introducido  
		<hi>Repetir Contraseña :      </hi>
		<input type="password" name="pass"/>
		<br />-->
		<hi>Rol :                     </hi>
		<select type="text" name="rol">
		<option value="ROLE_ADMIN">Administrador</option>
		<option value="ROLE_TECH">T&eacute;cnico</option>
		<option value="ROLE_USER">Usuario</option>
		</select>
		</select> <br />
		<br /> <input type="submit" text="" value="A&ntilde;adir" />
		<input type="hidden" name= "_csrf" value="{{token}}" /> 
	
		
	
	 
	</form>
	<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
		<input type="hidden" name= "_csrf" value="{{token}}" /> 
</body>
</html>